body {
    font-family: sans-serif;
    padding: 10px;
}

#banner {
  width: 100%;
  height: 300px;
  background-color: #333;
  text-align: center;
}
#banner img {
    max-width: 100%;
    max-height: 100%;
}

